/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*----------------------------------------------------------------------------------------------------------------------------------
 Boiler plate styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
html, a {
  font-family: sans-serif;
  text-decoration: none;
}

html body {
  color: #222;
  height:100%;
  margin:0;
}

html, button, form input, select, textarea {
  color: #222222;
}

html, button, form input, select, textarea {
  font-family: sans-serif;
}
html a:link, html a:visited{
  color: #444;
}
html a:hover{
  color: #444;
}
/*
----------------------------------------------------------------------------------------------------------------------------------
 Header Branding styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-branding-wrapper {
  background: #F7F7F7
}

.zone-branding-wrapper h2, .zone-header-wrapper h2 {
  display: none;
}

.region-branding, .region-header-first {
  float: left;
  margin: 0;
}

.region-branding {
  width: 25%;
}

.region-header-first {
  width: 75%;
}

.zone-branding-wrapper .logo-img {
  margin: 4px 0 4px 15%;
}

.region-header-first ul.menu {
  float: right;
  height: 40px;
}

.region-header-first ul.menu li {
  display: inline;
}

.zone-branding-wrapper ul.menu li.first {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.zone-branding-wrapper ul.menu li.first a {
  background-color: #9DBB2D;
  color: #FFFFFF;
  padding: 11px 75px;
  line-height: 2.5em;
  text-decoration: none;
}

.not-logged-in .zone-branding-wrapper ul.menu li.last {
  color: #676868;
  font-size: 11px;
}

.not-logged-in .zone-branding-wrapper ul.menu li.last a {
  border-left: thin solid #ddd;
  color: #676868;
  padding: 10px 20px;
  text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------
 Header Nav styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-header-wrapper {
  background: #E9E9E9;
  border-bottom: 2px solid #E2DEDF;
  border-top: 1px solid #E2DEDF;
  height: 32px;
}

.zone-header-wrapper .region-preface-first {
  margin: 0 auto;
  width: 94%;
}

.zone-header-wrapper ul#view-modes {
  margin: 0;
  padding-top: 8px;
  text-transform: uppercase;
}

.zone-header-wrapper ul#view-modes li {
  color: #ADADAF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
}

.zone-header-wrapper ul#view-modes li a {
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -webkits-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #E2DEDF;
  padding: 5px 25px 5px 50px;
  text-decoration: none;
}

.zone-header-wrapper ul#view-modes li.first a.views-modes-active {
  background: #ffffff url(../images/iconMapView.png) no-repeat 22px 50%;
  color: #EC7721;
}

.zone-header-wrapper ul#view-modes li.last a.views-modes-active {
  background: #ffffff url(../images/iconListView.png) no-repeat 22px 50%;
  color: #EC7721;
}

.zone-header-wrapper ul#view-modes li.first a {
  background: #E9E9E9 url(../images/iconMapViewInactive.png) no-repeat 22px 50%;
  color: #ADADAF;
}

.zone-header-wrapper ul#view-modes li.last a {
  background: #E9E9E9 url(../images/iconListViewInactive.png) no-repeat 22px 50%;
  color: #ADADAF;
}

/*----------------------------------------------------------------------------------------------------------------------------------
 Content styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
.zone-content #region-content {
  margin: 0;
}

.zone-content #breadcrumb {
  background: #555;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.zone-content #breadcrumb a {
  color: #EC7721;
  text-decoration: none;
}

.zone-content #breadcrumb a:hover {
  text-decoration: underline;
}

.zone-content #breadcrumb .breadcrumb {
  padding: 5px 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
 Content Popup styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
div.olControlPanZoomBar {
  right: 50px;
}

div.olControlMaptext {
  left: 50px;
  top: 20px;
}

div.olControlMaptext.btns {
  background: #EEECED;
  border: 1px solid #DEDEDE;
  font-family: sans-serif;
  width: 194px;
}

div.olControlMaptext h3 {
  background: #999999 url(../images/collapser.png) no-repeat 95% 50%;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 5px;
  text-transform: uppercase;
}

div.bnContainer a {
  background: #FFFFFF url(../images/flyoutRightActive.png) no-repeat 95% 50%;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  /*color: #444445;*/
  color: #EC7721;
  font-family: sans-serif;
  font-size: 1em;
  margin: 4px 5%;
  padding: 2.5%;
  text-transform: uppercase;
  width: 85%;
}

div.bnContainer a.toggle_button.down {
  background: #FFFFFF url(../images/flyoutRight.png) no-repeat 95% 50%;
  border: 1px solid #D6D6D6;
  color: #444;
}

div.olControlMaptext .maptext {
  border: 1px solid #D2CCCD;
  left: 194px;
  top: 24px;
  width: 300px;
}

ul.facetapi-facetapi-checkbox-links a, .region-content .maptext a {
  color: #444445;
}

div.maptext h2.popup-title {
  background-color: #fff;
  color: #EC7721;
  font-family: sans-serif;
  font-size: 1.4em;
  margin-bottom: 0px;
  text-transform: uppercase;
}

div.maptext h2.popup-title a {
  color: #EC7721;
}

div.maptext h2.popup-title a:hover {
  color: #EC7721;
  text-decoration: underline;
}

ul.facetapi-facetapi-checkbox-links .popup-content, .maptext .popup-content {
  background-color: #fff;
  color: #333;
  opacity: 1;
}

span.pieLabel div {
  color: #333333 !important;
}

div.olControlMaptext .maptext p {
  padding: 5px 10px;
}

div.maptext {
  position: relative;
}

div.maptext h2 a {
  padding: 5px 10px;
  width: auto;
}

ul.facetapi-facetapi-checkbox-links a.popup-close, div.maptext a.popup-close {
  background: url(../images/closer.png) no-repeat;
  color: transparent;
  font-weight: bold;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 14px;
}

ul.facetapi-facetapi-checkbox-links a.popup-close:hover, div.maptext a.popup-close:hover {
  color: transparent;
}

ul.facetapi-facetapi-checkbox-links, div.olControlMaptext .maptext ul {
  margin: 10px;
}

ul.facetapi-facetapi-checkbox-links li, div.olControlMaptext .maptext ul li {
  list-style: none;
  margin: 0;
  padding: 5px 0px;
}

ul.facetapi-facetapi-checkbox-links li a:hover, div.olControlMaptext .maptext ul li a:hover {
  color: #EC7721;
}

a.facetapi-limit-link {
  font-weight: bold;
  margin-left: 10px;
}

div.openlayers-map .openlayers_plus-blockswitcher {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 10px;
  width: auto;
  z-index: 3000;
}

div.openlayers-map .openlayers_plus-blockswitcher h2 {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

#openlayers-map .olControlZoomPanel {
  left: auto;
  right: 75px;
  top: 20px;
}

#openlayers-map .olControlZoomPanel div {
  background-color: rgba(201, 201, 201, 0.8);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  height: 42px;
  width: 42px;
}

#openlayers-map .olControlZoomPanel div.olControlZoomInItemInactive {
  background-image: url("../images/zoomIn.png");
}

#openlayers-map .olControlZoomPanel div.olControlZoomToMaxExtentItemInactive {
  display: none;
}

#openlayers-map .olControlZoomPanel div.olControlZoomOutItemInactive {
  background-image: url("../images/zoomOut.png");
  top: 42px;
}

#openlayers-map .olControlZoomPanel div.olControlZoomInItemInactive {
  top: 0px;
}

#openlayers-map .olControlZoomPanel div.olControlZoomToMaxExtentItemInactive {
  display: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------
 List page styling
 -----------------------------------------------------------------------------------------------------------------------------------------.view-modes-list section#section-content*/
.section#section-content {
  background: #eee;
  border-top: 1px solid #ddd;
}
/*.view-modes-list div#zone-content-wrapper*/
div#zone-content-wrapper {
  padding: 10px;
}
/*.view-modes-list div#zone-content*/
div#zone-content {
  background: #fff;
  border: 1px solid #D6D6D6;
  margin: 10px auto;
  overflow: auto;
  padding: 10px;
  width: 94%;
}

div.bnContainer a {
    background: url("../images/flyoutRightActive.png") no-repeat scroll 95% 50% #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 4px 4px;
    color: #EC7721;
    /*font-family: sans-serif;
    font-size: 1em; text-transform: uppercase;*/
    margin: 4px 5%;
    padding: 2.5%;  
    width: 85%;
}
.region-sidebar-first ul.menu li a.active {
    background: url("../images/flyoutCircle-active.png") no-repeat scroll 95% 50% #FFFFFF;
    border: 1px solid #D6D6D6; 
    color: #EC7721;
    display: block; 
    margin: 4px 0; 
    padding: 2.5%; 
}
/*.region-sidebar-first ul.menu li a:hover {
    background-color: #F2F2F2;
}*/
.region-sidebar-first ul.menu li a {
    background: url("../images/flyoutCircle.png") no-repeat scroll 95% 50% #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 4px 4px;
    color: #444444;
    display: block; 
    margin: 4px 0; 
    padding: 2.5%; 
    text-decoration: none;
}
.region-sidebar-first-inner .block{
  margin-top: 10px;
}
.region-sidebar-first-inner h2.block-title{
  display: none; /* i wish this can be hidden within the UI not css, since it affects all h2s in this sidebar */
}
/* filter styles */
.region-sidebar-first ul.menu {
   text-transform: uppercase;
}
.region-sidebar-first ul.menu li{
   list-style: none outside none;
   padding-right: 0;
}
/* end  filter styles */
.view-modes-list aside#region-sidebar-first {
  background: #ddd;
  float: left;
  margin-left: 0;
  min-width: 280px;
  width: 20%;
}

.view-modes-list aside#region-sidebar-first h2.block-title {
  color: #EC7721;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 0.02em;
  padding: 5px 10px 0px 10px;
  text-transform: uppercase;
  width: auto;
}

.view-modes-list aside#region-sidebar-first ul li a {
  text-decoration: none;
}

.view-modes-list aside#region-sidebar-first ul li a:hover {
  text-decoration: underline;
}

.view-modes-list aside#region-sidebar-first p {
  padding: 5px 10px;
}

.view-modes-list .block-facetapi {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #D6D6D6;
  color: #444445;
  margin: 10px;
}

.view-modes-list div#region-content {
  float: left;
  margin-left: 10px;
  width: 75%;
}

.view-modes-list div#region-content table.views-table {
  border: none;
  width: 100%
}

.view-modes-list div#region-content table.views-table tbody tr {
  background-color: #fff;
  border-bottom: thin solid #B7B7B7;
}

.view-modes-list div#region-content table.views-table tr th {
  background: #EDEBEB;
  font-size: 1.1em;
  font-weight: bold;
  padding: 15px 26px;
  text-transform: uppercase;
}

.view-modes-list div#region-content table.views-table tr td {
  background-color: #ffffff;
  padding: 15px 26px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
 Footer styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
.section-footer {
  width:100%;
  height:40px;
  background:#fff;
  }

.view-openaidmap-miscellaneous {
  padding: 10px;
}


/*----------------------------------------------------------------------------------------------------------------------------------
 Form styling
 -----------------------------------------------------------------------------------------------------------------------------------------*/
div.status{
  width: 99%;
}
.region-content-inner h1 {
  font-size: 1.5em;
  margin-top: 12px;
}
.region-content-inner ul{
  list-style-position: inside;
}
.region-content-inner h1, .region-content-inner h2, .region-content-inner h3, .region-content-inner h4, .region-content-inner h5, .region-content-inner h6 {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: normal;
}
/* for administrative theme */
form .container-inline-date {
  display: inline;
}

html.js  form input.form-autocomplete {
    background-position: 100% 4px;
}
/* primary tabs */
form textarea, form select, form input[type =
"date"], form input[type = "datetime"], form input[type = "datetime-local"], form input[type = "email"], form input[type = "month"], form input[type = "number"], form input[type = "password"], form input[type = "search"], form input[type = "tel"], form input[type = "text"], form input[type = "time"], form input[type = "url"], form input[type = "week"] {
    border: 1px solid #C1C1C1;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 0;
}
form button:focus, form button:active, form input:focus, form input:active, form select:focus, form select:active, 
form textarea:focus, form textarea:active{
    box-shadow: inset 0 0 2px #9DBB2D;
    -webkit-box-shadow: inset 0 0 2px #9DBB2D;
    -moz-box-shadow: inset 0 1px 0px #9DBB2D;
}
/*...*/
button, input[type="reset"], input[type="submit"], input[type="button"],
.node-links ul li a, .comment-links ul li a{
  background: #9DBB2D;
  border: 2px solid #EEE;
  border-radius: 4px 4px 4px 4px;
  color: #FFF;
  padding: 3px 8px 3px;
  text-shadow: none;
}
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover,
.node-links ul li a:hover, .comment-links ul li a:hover{
  background: #555555;
  color: #FFF; /*#EC7721*/
}
.tabs ul.primary {
  border-bottom: medium none;
  padding: 0;
}

.tabs ul.primary li a {
  background-color: #F7F7F7;
  border: 1px solid #D9D9D9;
  border-radius: 5px 5px 5px 5px;
  /*border-style: solid solid none;
  border-width: 1px;
  box-shadow: 1px 1px 0px #D9D9D9 inset;
  -moz-box-shadow: 1px 1px 0px #D9D9D9 inset;
  -webkit-box-shadow: 1px 1px 0px #D9D9D9 inset;*/
  color: #888;
  height: auto;
  margin-right: 0.5em;
  padding: 0.15em 0.5em;
  text-decoration: none;
}

.tabs ul.primary li a:hover {
  border-color: #EEEEEE;
  box-shadow: none;
}

.tabs ul.primary li.active a {
  color: #EC7721;/*#000*/
}
.grippie{display: none;}

label {
    /*color: #999999;*/
    font-size: 10px;
    /*font-weight: normal;*/
}
.field-item.tags{
    float: left;
    margin-right: 5px;
}
/*form-item form-type-date-popup form-item-field-iati-activity-planned-date-und-0-value2
.container-inline-date .form-item label {
    left: -17px;
    position: absolute;
    top: 34px;
}*/


